<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAna3SggJrliWjCQFTKJYx7ZMrWB0NZ2h4</string>
	<key>GCM_SENDER_ID</key>
	<string>4844059186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.avyracards.app</string>
	<key>PROJECT_ID</key>
	<string>avyracards</string>
	<key>STORAGE_BUCKET</key>
	<string>avyracards.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4844059186:ios:f17344fd0e2f51b07cda2b</string>
</dict>
</plist>
